.tile {
  display: table;
  padding: 10px;
}
.TileTable {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: blue;
}
th {
  padding: 0px;
}
td {
  padding-left: 20px;
  padding-bottom: 2px;
}
img {
  width: 200px;
  height: 250px;
}
